.gov-use-case p{
width: 75%;
padding-bottom: 40px;
}
.gov-card{
    background: #211D24;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
}
@media(max-width:640px){
    .gov-use-case p{
        width: 100%;
    }
}